@font-face {
    font-family: 'Norse Bold';
    src: url("Norse-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;

}

body {
    margin: 0;
    display: flex;
    height: 100vh;
}

#left-container {
    position: relative;
    flex: 0 0 38vw;
    height: 100%;
}


#plant-background {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

#odin-logo-container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    height: 20vh;
    margin-top: 20vh; 

}

#odin-logo {
    width:auto;
    z-index: 10;
    height: 90%;
}

#odin-text {
    font-family: "Norse Bold";
    font-weight: bold;
    font-size: 5rem;
    padding-left: 50px;

}
#right-container {

    width: 62vw;
    vertical-align: auto;
    background-color: rgb(248, 248, 248);
    
}

#top {
    box-sizing: border-box;    
    height: 40%;
    width: 100%;
    padding-left: 50px;
    padding-right:28vw;
    padding-top: 100px;
    
}

#center {
    height: 25%;
    width: 100%;
    background-color: white;
}

#bottom {
    height: 35%;
    width: 100%;
}