
body {
    margin: 0;
    display: flex;
    height: 100vh;
}

#left-container {
    width: 38vw;
}


#left-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
      


}


#right-container {

    width: 62vw;
    vertical-align: auto;
    
}

#top {
    height: 40%;
    width: 100%;
    background-color: lightgrey;
}

#center {
    height: 25%;
    width: 100%;
    background-color: white;
}

#bottom {
    height: 35%;
    width: 100%;
    background-color: lightgrey;;
}