@font-face {
    font-family: 'Norse Bold';
    src: url("Norse-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;

}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    
}

#left-container {
    position: relative;
    flex: 0 0 38vw;
    height: 100%;
}


#plant-background {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

#odin-logo-container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    height: 20vh;
    margin-top: 20vh; 

}

#odin-logo {
    width:auto;
    z-index: 10;
    height: 90%;
}

#odin-text {
    font-family: "Norse Bold";
    font-weight: bold;
    font-size: 5rem;
    padding-left: 50px;

}
#right-container {

    width: 62vw;
    vertical-align: auto;
    background-color: rgb(248, 248, 248);
    
}

#top {
    box-sizing: border-box;    
    height: 40%;
    width: 100%;
    padding-left: 50px;
    padding-right:28vw;
    padding-top: 100px;
    
}


#form-container {
    padding-top: 20px;
    background-color: white;
    padding-left: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
}

#form-box {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 400px;

}

#form-box div {

    padding-bottom: 20px;
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}

#form-box div input {
    width: 50%;
    border: 1px solid rgba(128, 128, 128, 0.54);
    border-radius: 7px;
    padding: 5px 5px;
}

#createAccount {
    box-sizing: border-box;    
    height: 40%;
    width: 100%;
    padding-left: 50px;
    padding-right:28vw;
    padding-top: 30px;
    
}

button {
    background-color:#596D48;
    color: white;
    border: 1px transparent solid;
    border-radius: 5px;
    padding: 8px 30px;

}

a:link {
    color: #596D48;
}

#form-box input[type="password"]:invalid, 
#form-box input[type="confirmPassword"]:invalid {
    border: 1px solid rgba(251, 12, 12, 0.54);
    border-width: 2px;
}

input:focus {
    outline:none;
    border: 1px solid rgba(24, 30, 206, 0.5) !important;
    border-width: 2px !important;
    box-shadow: 0 0 5px rgba(29, 29, 149, 0.5);
}